/* .list-rating:hover {
  background-color: #fff;
  color: #fff;
  cursor: pointer;
} */

/* .svg-inline--fa:hover {
  color: #fff;
}

.svg-inline--fa {
  color: #23d160;
} */

.card-footer {
  margin-top: 2em;
}
