.hospital-doctor-title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #414146;
}

.doctor-name {
  margin-bottom: 0.5em;
  color: #414146;
  font-size: 1.2em;
  line-height: 1.3;
  font-family: "Timeburner", sans-serif;
}

.doctor-long-profession {
  margin-bottom: 0.1em;
  margin-top: 0;
  color: #6a6a6e;
  font-size: 0.9em;
  line-height: 1.3;
  font-family: "Timeburner", sans-serif;
}

.doctor-experience {
  margin-bottom: 0.1em;
  margin-top: 0;
  color: #6a6a6e;
  font-size: 0.9em;
  line-height: 1.3;
  font-family: "Timeburner", sans-serif;
}
.doctor-profession {
  margin-bottom: 0.3em;
  margin-top: 0;
  color: #6a6a6e;
  font-size: 0.9em;
  line-height: 1.3;
  font-family: "Timeburner", sans-serif;
}
.clock-div {
  color: #6a6a6e;
  font-size: 0.9em;
  font-family: "Timeburner", sans-serif;
}
.doctor-week {
  color: #414146;
}
.doctor-time {
  padding-left: 1em;
}
