.appointment-button .button {
  background-color: #6e7498;
  color: white;
}

.left-side-header label {
  font-weight: 400;
  color: #998da0;
}

.left-side-header .title {
  color: "#414146";
  font-weight: 500;
}
