.content .price {
  font-size: 1em;
  margin-left: 0.5em;
}

.content .available-yes {
  font-size: 1em;
  margin-left: 0.5em;
  color: green;
}

.content .available-no {
  font-size: 1em;
  margin-left: 0.5em;
  color: red;
}

.content .price:hover {
  color: #118fe4;
  text-decoration: underline;
}
