.hospital-detail-div {
  margin-top: 1em;
  background-color: #f0f0f5;
}

.hospital-tab {
  margin-top: 1em;
  background-color: #f0f0f5;
}


.call-button{
    float: right;
}

.book-button{
    float: left;
}