.footer-container {
  background-color: #263868;
  margin-top: 1.5rem;
  padding: 10px;
  bottom: 0;
}

.list{
  background-color: #263868;
}

.flink{
    padding: 5px;
    color: white;
    font-size: 1em;
}

.icon{
    color: white;
}

.social{

}

.links{
    border: 1px solid white;
}

.center{
  margin: 0 auto;
}

.right{

}