.hospital-container {
  margin-top: 8vh;
}

.hospital-header {
  font-weight: 600;
  margin: 2em;
  font-size: 1em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #eee;
  -webkit-font-smoothing: subpixel-antialiased;

  color: black;
  text-transform: uppercase;
}


.hospital-card:hover {
  transform: scale(1.03);
  opacity: 1 !important;
  cursor: pointer;
}

.hospital-card {
}

.nursingcontainer{
    padding:10px;
}

.tallimg{
    background-image: url('https://images.pexels.com/photos/1350560/pexels-photo-1350560.jpeg');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    background-size: cover;
    font-size: 1.5em;
}

.wideimg{
    background-image: url('https://images.pexels.com/photos/1549001/pexels-photo-1549001.jpeg');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    background-size: cover;
    height:200px;
}


.hos1{
  height:200px;
  background-image: url('https://images.pexels.com/photos/247786/pexels-photo-247786.jpeg');
  background-size: cover;
  font-size: 1.5em;
}

.hos2{
  background-image: url('https://images.pexels.com/photos/263402/pexels-photo-263402.jpeg');
  height:200px; 
  background-size: cover;
  font-size: 1.5em;
}


.hos3{
  background-image: url('https://images.pexels.com/photos/1250655/pexels-photo-1250655.jpeg');
  height:200px; 
  background-size: cover;
  font-size: 1.5em;
}

.wideimg{
  font-size: 1.5em;
  
}