.hospital-container {
  margin-top: 8vh;
}

.hospital-header {
  font-weight: 600;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: pink;
  -webkit-font-smoothing: subpixel-antialiased;
  color: black;
  text-transform: uppercase;
}
  .hospital-header span{
    position: absolute;
    bottom:0;
  }

.hospital-card:hover {
  transform: scale(1.03);
  opacity: 1 !important;
  cursor: pointer;
}

.nursingcontainer{
    padding:10px;
}

.hos1{
  background-size: cover;
  font-size: 1.5em;
  background-color: #FFD;
}
.hos2{
  width: 400px;
  height: 300px;
  background-size: cover;
  font-size: 1.5em;
  background-color: #FFC;
}
.hos3{
    background-size: cover;
    font-size: 1.5em;
    background-color: #FFB;
}
.hos4{
    background-size: cover;
    font-size: 1.5em;
    background-color: #FFA;
}

.hos4{
    background-size: cover;
    font-size: 1.5em;
    background-color: #FF0;
}

.hoschild{
  padding: 10px;
}