.content .tag {
  margin-left: 0.4em;
  font-weight: 700;
}

.content .tag del {
  font-size: 1em;
  font-weight: 700;
}

.card-footer {
  margin-top: 2em;
}

.card-footer .button {
  border-color: white;
}

.card-footer .button:hover {
  border-color: #dbdbdb;
}
