.hospital-name {
  margin-bottom: 0.1em;
  color: #414146;
  font-size: 1.5em;
  font-weight: 700 !important;
}

.hospital-address {
  margin-bottom: 0.1em;
  margin-top: 0;
  color: #414146;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.3;
  /* margin-left: 1.5em; */
}

.hospital-specialist {
  margin-bottom: 0.1em;
  margin-top: 0;
  color: #414146;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.3;
  /* margin-left: 1.4em; */
}

.bed {
  margin-left: 4px;
}
.bed-dot {
  font-weight: 700 !important;
}
.bed-count {
  margin-left: 4px;
}

.bed-text {
  margin-left: 4px;
}

.doctor {
  margin-left: 4px;
}
.doctor-dot {
  font-weight: 700 !important;
}
.doctor-count {
  margin-left: 4px;
}

.doctor-text {
  margin-left: 4px;
}
