body{
  background: #263868;
}
.box {
  width: 10em;
  height: 10em;
  transform-origin: 50% 50%;
  margin-bottom: 1em;
  border-radius: 3%;
}

.circle {
  width: 10em;
  height: 10em;
  transform-origin: 50% 50%;
  margin-bottom: 1em;
  border-radius: 50%;
}

.Span {
  line-height: 10em;
  padding-left: 2.5em;
  /* padding-right: 2.5em; */
}


.tile.tall{
  height:500px;
}


.tile.is-child{
  height: 150px;
}


.tileContainer{
  width: 100vw;
  overflow: hidden;
  background: #263868;
}

.doctors{
    background-image: url(/*'../img/amb.jpg'*/);
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    background-size: contain;  
    color: black;
    text-decoration-color: black;
}

.nurse{
    background-image: url('../img/nursing.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;  
  
}

.ambulance{
    background-image: url('../img/hospital.jpg');
    background-size: contain;  
}

.gambulance{
    background-image: url('../img/gambulance.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.equipment{
    background-image: url('../img/equip.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
}

.aambulance{
    background-image: url('../img/aamb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.adjustment{
  font-size: 1em;
  line-height: 1.5em;
}

.mark{
  color:white;
  font-size:1em;
  line-height: 1.25em;
}

.tile.is-parent{
}

.tile.is-ancestor{
  margin:0px !important;
  padding: 1px;

}

.tile.is-parent{
  padding:0px !important;
  margin: 0px !important;
}

.tile.is-child{
}

.tile{
  border-radius: 0px;
  margin:0px;
}

.tile{align-items:stretch;display:block;flex-basis:0;flex-grow:1;flex-shrink:1;min-height:-webkit-min-content;min-height:-moz-min-content;min-height:min-content}
.tile.is-ancestor{margin-left:-.75rem;margin-right:-.75rem;margin-top:-.75rem}
.tile.is-ancestor:last-child{margin-bottom:-.75rem;    display: flex;}
.tile.is-ancestor:not(:last-child){margin-bottom:0rem}
.tile.is-child{margin:0!important}
.tile.is-parent{padding:.75rem}
.tile.is-vertical{flex-direction:column}
.tile.is-vertical>.tile.is-child:not(:last-child){margin-bottom:0rem!important;}