.box {
  width: 10em;
  height: 10em;
  transform-origin: 50% 50%;
  margin-bottom: 1em;
  border-radius: 3%;
}

.circle {
  width: 10em;
  height: 10em;
  transform-origin: 50% 50%;
  margin-bottom: 1em;
  border-radius: 50%;
}

.Span {
  line-height: 10em;
  padding-left: 2.5em;
  /* padding-right: 2.5em; */
}


.tile.tall{
  height:500px;
}


.tile.is-child{
  height: 150px;
}

.anim{
  margin-top: 30vh;
  padding: 10px;
}