.header h1 {
  color: #6e7498;
  text-align: center;
  padding-top: 1.5em;
  /* padding-bottom: 3em; */
  font-size: 3em;
}

.header p {
  color: #6e7498;
  text-align: center;
  font-size: 1.5em;
  line-height: 0;
}

.form .button {
  background-color: #6e7498;
  color: white;
}

.spacer.is-2 {
  height: 2rem;
}

.spacer.is-0 {
  height: 0.5rem;
}
