.spacer.is-1 {
  height: 1rem;
}

.spacer is-3 {
  height: 3rem;
}

.card-list .card-content {
  max-width: max-content;
}

.card-footer a {
  color: #363642;
}

.content .fees {
  margin-left: 0.4em;
}

.content .fees del {
  font-size: 1em;
}
