.spacer.is-1 {
  height: 4rem;
}

.seo-label {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0;
}

.seo-list {
  margin-left: -0.75rem;
  font-size: 1rem;
}

.seo-list a {
  border-radius: 10px;
  color: #998da0;
  display: block;
  padding: 0.5em 0.75em;
}
