.spacer {
  display: block;
  margin: 0;
  padding: 0;
  height: 0;
  background: none;
  border: none;
}

.spacer.is-4 {
  height: 4rem;
}

.menu-label {
  font-size: 1.1rem;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 700;
}

.menu-list {
  margin-left: -0.75rem;
  font-size: 1rem;
}

.menu-list a {
  border-radius: 10px;
  color: #998da0;
  display: block;
  padding: 0.5em 0.75em;
}
