.term .title {
  color: #565252;
  font-weight: 500;
  margin-top: 0em;
}

.term .title:not(.is-spaced) + .subtitle {
  margin-top: 0em;
}

.term .subtitle {
  line-height: 1.5em;
}

.spacer.is-2 {
  height: 2rem;
}
