.equip-header {
  padding: 5px;
  font-size: 1.2em;
  color: rgb(38, 56, 104);
}

.equipment-card:hover {
  /* transform: scale(1.03);
  opacity: 1 !important; */
  cursor: pointer;
}

.slick-prev,
.slick-next {
  font-size: 15px !important;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}
