@font-face {
  font-family: "Timeburner";
  font-style: normal;
  font-weight: normal;
  src: local("Timeburner"), local("Timeburner"),
    url("../font/timeburnernormal.ttf") format("ttf"),
    url("../font/timeburnerbold.ttf") format("ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, "Timeburner", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Timeburner", monospace;
}

html {
  font-family: "Timeburner", sans-serif;
}
