@font-face {
  font-family: "Timeburner";
  font-style: normal;
  font-weight: normal;
  src: local("Timeburner"), local("Timeburner"),
    url("../font/timeburnernormal.ttf") format("ttf"),
    url("../font/timeburnerbold.ttf") format("ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Timeburner", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.header-container {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.header-name {
  color: rgb(39, 37, 37);
  font-weight: 600;
  font-size: 1.5em;
  font-family: "Timeburner", sans-serif;
}
.underscore {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(237, 50, 55)),
    to(#dee5ef)
  );
  margin-top: -5px;
  content: "";
  height: 4px;
  display: block;
  box-sizing: border-box;
  width: 40px;
}

html {
  font-family: "Timeburner", sans-serif;
}
