.nursing-header {
  padding: 5px;
  font-size: 1.1em;
  color: rgb(38, 56, 104);
}

/* .nursing-container {
  margin-top: 8vh;
} */

.nursing-header:hover {
  /* transform: scale(1.03);
   opacity: 1 !important; */
  cursor: pointer;
}

.slick-prev,
.slick-next {
  font-size: 15px !important;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}
