.air-ambulance-container {
  background: url('../img/3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 10px;
  height:420px;

}

.modal{
    display: none
}
