.air-ambulance-container {
  margin-top: 8vh;
  background-image: url(https://www.wiltshiretimes.co.uk/resources/images/8099098.jpg);
  background-size: cover;
  padding: 10px;

}

.modal{
    display: none
}
