h3 h5 h4 {
  font-family: "Timeburner", sans-serif;
}

.hospital-card-name {
  font-weight: 500;
  padding-left: 1em;
  color: #ed3237;
  padding-bottom: 0.1em;
}

.hospital-card-href:hover {
  text-decoration: underline;
  color: #ed3237;
}

.hospital-card-specialist {
  font-weight: 200;
  padding-left: 0.2em;
  padding-top: 0.5em;
  padding-bottom: 0.1em;
}

.doctor-card-count {
  font-weight: 200;
  padding-left: 0.2em;
}

.space-one {
  padding-top: 1em;
}

.time {
  font-size: 0.9em;
  padding-left: 1.7em;
}

.clock-div {
  padding-bottom: 0.8em;
}

.clock-map {
  padding-bottom: 0.8em;
}

.view-profile {
  /* padding-left: 1em; */
  color: rgb(38, 56, 104);
  /* padding-bottom: 0.1em; */
}

.phone-number-text {
  color: #787887;
}

.phone-number-text-div {
  margin-bottom: 1em;
}

.phone-number-p {
  color: "rgb(38, 56, 104)";
  font-size: 1.5em;
}
.view-profile {
  float: right;
  padding-top: 2em;
  font-size: 1em;
  color: #787887;
}

.view-profile:hover {
  text-decoration: underline;
  color: #787887;
}
