.ambulance-container {
  margin-top: 8vh;
}

.ambulance-header {
  position: absolute;
  bottom: 0;
  font-weight: 600;
  margin: 20px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  padding: 2px;
}

.ambulance-card:hover {
  transform: scale(1.04);
  opacity: 1 !important;
  cursor: pointer;
}

/* Not Use if use style tag*/

.clear{
  margin-left: 20px;
}

.slick-prev,
.slick-next {
  font-size: 15px !important;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}

.ambulance-container {
  margin-top: 20px;
  margin-bottom: -22px;
}

.amb-header{
  background: transparent;
  padding: 5px;
  font-size: 1.2em;
}

.amb{
  margin: 10px;
  height: 240px !important;
}