.hospital-bed-header {
  font-size: 17px;
  margin-bottom: 8px;
  color: #414146;
  font-family: "Timeburner", sans-serif;
}

.hospital-bed-title {
  font-weight: 500;
  color: rgb(38, 56, 104);
  font-size: 1.5em;
  margin-bottom: 0.3em;
  font-family: "Timeburner", sans-serif;
}

.hospital-bed-price {
  margin-bottom: 0.3em;
  margin: 0;
  color: #6a6a6e;
  font-size: 1.1em;
  font-family: "Timeburner", sans-serif;
}

.hospital-price-icon {
  padding-left: 5px;
  color: #6a6a6e;
  font-size: 1.2em;
  font-weight: 500;
  margin-right: -4px;
}

.hospital-bed-available {
  margin-bottom: 0.3em;
  margin-top: 0;
  color: #6a6a6e;
  font-size: 1.1em;
  font-family: "Timeburner", sans-serif;
}

.hospital-bed-available-count {
  padding-left: 5px;
}

.hospital-bed-description {
  color: #6a6a6e;
  font-size: 1.1em;
  font-family: "Timeburner", sans-serif;
}
