.modal-card-head p {
  margin-bottom: 0em;
}

.modal-card-body p {
  color: #716e6e;
  font-size: 1.3em;
}

.modal-card-foot button {
  width: 21.875em;
  height: 2.5em;
  font-size: 20px;
  font-weight: 500;
  margin-left: 7em;
  margin-right: 7em;
  background-color: #6e7498;
  color: white;
}

.modal-card-foot button[disabled] {
  background-color: #6e7498;
  color: white;
}
